<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Insert title here</title>

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<title>Dostava</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand navbar-dark bg-dark">
					<a class="navbar-brand" href="https://enastava.ftninformatika.com">
						<img src="/images/logo.svg" />
					</a>
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/index.html">Početna</a>
						<a class="nav-item nav-link active" href="/restorani">Restorani</a>
						<a class="nav-item nav-link" href="/artikli">Artikli</a>
						<a class="nav-item nav-link" href="/porudzbine">Porudzbine</a>
						<a class="nav-item nav-link" href="/kategorije">Kategorije</a>
						<a class="nav-item nav-link" href="/korisnici">Korisnici</a>
					</div>
				</nav>
				<nav class="navbar navbar-expand navbar-dark bg-secondary">
					<div class="navbar-nav">
						<a class="nav-item nav-link active" href="/restorani">Prikaz svih</a>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-5 mx-auto">
				<form action="/restorani/izmena" method="post">
					<div class="row my-2">
						<div class="col-10">
							<input type="hidden" required class="form-control" name="id" autofocus th:value="${restoran.id}" >
    					</div>
  					</div>
					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Naziv</label>
						<div class="col-10">
							<input type="text" required class="form-control" name="naziv" autofocus th:value="${restoran.naziv}" >
    					</div>
  					</div>
  					<fieldset class="row my-2">
						<legend class="col-2 col-form-label pt-0 text-end">Kategorija</legend>
						<div class="col-10">
							<div class="form-check" th:each="itKategorija : ${kategorije}">
								<input class="form-check-input" type="checkbox" name="kategorijaIds" th:value="${itKategorija.id}">
								<label class="form-check-label"   th:text="${itKategorija.naziv}">žanr 1</label>
							</div>
						</div>
					</fieldset>
					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Cena dostave</label>
						<div class="col-10">
							<input type="text" required pattern="[0-9]{2,}" class="form-control" name="cenaDostave" th:value="${restoran.cenaDostave}">
    					</div>
  					</div>
  					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Ulica</label>
						<div class="col-10">
							<input type="text" required class="form-control" name="nazivUlice" th:value="${restoran.adresa.ulica}">
    					</div>
  					</div>
  					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Broj</label>
						<div class="col-10">
							<input type="text" required class="form-control" name="broj" th:value="${restoran.adresa.broj}">
    					</div>
  					</div>
  					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Grad</label>
						<div class="col-10">
							<input type="text" required class="form-control" name="grad" th:value="${restoran.adresa.grad}">
    					</div>
  					</div>
  					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Postanski broj</label>
						<div class="col-10">
							<input type="text" required pattern="[0-9]{5}"  class="form-control" name="postanskiBroj" th:value="${restoran.adresa.postanskiBroj}">
    					</div>
  					</div>
  					<div class="row my-2">
						<div class="col-2"></div>
						<div class="col-10">
							<button type="submit" class="btn btn-primary w-100">Izmeni</button>
						</div>
					</div>
  				</form>
  				<form action="/restorani/brisanje" method="post">
					<input type="hidden" name="id" th:value="${restoran.id}">
  					<div class="row my-2">
						<div class="col-2"></div>
						<div class="col-10">
							<button type="submit" class="btn btn-primary w-100">Obriši</button>
						</div>
					</div>
  				</form>
			</div>
		</div>
	</div>
</body>

</html>